﻿@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}
@section head
{
    @Styles.Render("~/Content/Menu")
@RenderSection("head", required: false)
}

<div id="wrapper" class="animate">
    <header>
        <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
            <a class="navbar-brand" href="#">TP WEB 3</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Inicio", "Profesor")">
                            Preguntas
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("CrearPregunta", "Profesor")">Crear pregunta</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-md-auto d-md-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Inicio", "Profesor")">
                            Inicio
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("acerca-de", "Profesor")">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Salir","Login")">Salir</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    @RenderBody()
    </div>
    @section scripts{
        @RenderSection("scripts", required: false)
    }
