﻿
<!-- Footer -->
<footer class="page-footer font-small blue">

    <div class="footer-copyright text-center py-3">
        Programacion Web 3 20191C - Grupo 1  
        <p>Integrantes: Rocio Milla - Leandro Coronel - Natalia Cipollino</p>
    </div>

</footer>
<!-- Footer -->