@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?6xgv0u');
  src:  url('icomoon.eot?6xgv0u#iefix') format('embedded-opentype'),
    url('icomoon.ttf?6xgv0u') format('truetype'),
    url('icomoon.woff?6xgv0u') format('woff'),
    url('icomoon.svg?6xgv0u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-full:before {
  content: "\e9d9";
}
