﻿
@{
    Layout = "~/Views/Shared/MenuProfesor.cshtml";
}
@section head
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    }

<div class="container-fluid">

        <a href="/Profesor/CrearPregunta" class="btn btn-info">Crear pregunta</a>

        <table class="table table-sm" id="tabla">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Nro</th>
                    <th scope="col" class="text-center">Clase</th>
                    <th scope="col" class="text-center">Tema</th>
                    <th scope="col" class="text-center">Pregunta</th>
                    <th scope="col" class="text-center">Fecha desde</th>
                    <th scope="col" class="text-center">Fecha hasta</th>
                    <th scope="col" class="text-center">Evaluar</th>
                    <th scope="col" class="text-center">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Pregunta pregunta in ViewBag.preguntas)
                {
                    <tr>
                        <th class="text-center">@pregunta.Nro</th>
                        <th class="text-center">@pregunta.Clase.Nombre</th>
                        <th class="text-center">@pregunta.Tema.Nombre</th>
                        <th class="text-center"><a href="/Profesor/Modificar/@pregunta.IdPregunta">@pregunta.Pregunta1</a></th>
                        <th class="text-center">@pregunta.FechaDisponibleDesde</th>
                        <th class="text-center">@pregunta.FechaDisponibleHasta</th>
                        <th class="text-center"><a href="/Profesor/Evaluar/@pregunta.IdPregunta" class="btn">Evaluar</a></th>
                        <th class="text-center"><a href="/Profesor/Eliminar/@pregunta.IdPregunta" class="btn">Eliminar</a></th>
                    </tr>
                }
            </tbody>
        </table>
</div>
@section scripts
{
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready( function () {
    $('#tabla').DataTable();
    } );
</script>
}