﻿
@{
    Layout = "~/Views/Shared/MenuProfesor.cshtml";
    ViewBag.Title = "modificarPregunta";
    Pregunta pregunta = ViewBag.pregunta;
}

@if (ViewBag.hayRespuestas == true)
{
    <p>Ya se recibieron respuestas a esta pregunta, evite hacer modificaciones que puedan repercutir en las respuestas recibidas</p>
}
<form action="/Profesor/editarPregunta" method="POST" id="formularioPregunta">

    <input type="hidden" value="@pregunta.IdPregunta" name="id" />
    <input type="hidden" value="@Session["id"]" name="idProfesor" />
    <div class="form-group">
        <label for="nro" class="col-md-3">Nro</label>
        <input type="number" name="nro" class="col-md-8" value="@pregunta.Nro" required />
    </div>

    <div class="form-group">
        <label for="clase">Clase</label>
        <select name="clase" class="form-control" required id="clase">
            @foreach (Clase clase in ViewBag.clases)
            {
                <option value="@clase.IdClase">@clase.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Tema</label>
        <select name="tema" class="form-control" required id="tema">
            @foreach (Tema tema in ViewBag.temas)
            {
                <option value="@tema.IdTema">@tema.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="disponibleDesde">Disponible Desde</label>
        <input type="datetime-local" name="disponibleDesde" class="form-control" id="FechaDisponibleDesde" />
    </div>
    <div class="form-group">
        <label for="disponibleHasta">Hasta</label>
        <input type="datetime-local" class="form-control" name="disponibleHasta" id="FechaDisponibleHasta" />
    </div>
    <div class="form-group">
        <label for="pregunta">Pregunta(*)</label>
        <textarea name="pregunta" class="form-control" required>@pregunta.Pregunta1</textarea>
    </div>
    <div>
        <input type="submit" class="btn btn-danger" />
        <a href="/Profesor/Inicio" class="btn btn-info">Cancelar</a>
    </div>
</form>
@section scripts{
<script>
    $(document).ready(function () {
        $("#clase").val("@pregunta.IdClase");
        $("#tema").val("@pregunta.IdTema");
        @if (pregunta.FechaDisponibleDesde != null)
        {
        <text>  $("#FechaDisponibleDesde").val("@pregunta.FechaDisponibleDesde.Value.ToString("yyyy-MM-ddThh:mm")"); </text>
        }
        @if (pregunta.FechaDisponibleHasta != null) {
        <text>  $("#FechaDisponibleHasta").val("@pregunta.FechaDisponibleHasta.Value.ToString("yyyy-MM-ddThh:mm")"); </text>
        }
    });

    jQuery.validator.addMethod("greaterThan",
function (value, element, params) {

    if (!/Invalid|NaN/.test(new Date(value))) {
        return new Date(value) > new Date($(params).val());
    }

    return isNaN(value) && isNaN($(params).val())
        || (Number(value) > Number($(params).val()));
}, 'La fecha de inicio debe ser menor a la fecha de fin');


    $("#formularioPregunta").validate({
        lang: 'es',
        rules: {
            disponibleHasta: { greaterThan: "#FechaDisponibleDesde" }
        }
    });
</script>
}
