﻿@using tpweb3.Dao
@{
    Layout = "~/Views/Shared/MenuAlumno.cshtml";
}

<div class="row mb-5 mt-3">
    <div class="col-md-12">
        <h1>
            ¡Sube tus calificaciones!
        </h1>
    </div>
    <div class="col-md-7">
        <h6>
            Contestando preguntas de referidas a lo visto en clase,
            suma puntos cruciales para subir tus calificaciones al final de la cursada
        </h6>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>
            Tabla de Posiciones
        </h3>

        @{
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Pos</th>
                        <th scope="col" class="text-center">Nombre</th>
                        <th scope="col" class="text-center">Puntos</th>
                        <th scope="col" class="text-center">Respuestas bien</th>
                        <th scope="col" class="text-center">Mejor Respusta</th>

                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (Alumno alu in ViewBag.listaAlumnos)
                    {
                        if (alu.IdAlumno == ViewBag.alumno.IdAlumno)
                        {
                            <tr>
                                <th class="text-center bg-warning text-dark">@i</th>
                                <th class="text-center bg-warning text-dark">@alu.Nombre @alu.Apellido</th>
                                <th class="text-center bg-warning text-dark">@alu.PuntosTotales</th>
                                <th class="text-center bg-warning text-dark">@alu.CantidadRespuestasCorrectas</th>
                                <th class="text-center bg-warning text-dark">@alu.CantidadMejorRespuesta</th>
                            </tr>
                            i++;
                        }
                        else
                        {
                            <tr>
                                <th class="text-center">@i</th>
                                <th class="text-center">@alu.Nombre @alu.Apellido</th>
                                <th class="text-center">@alu.PuntosTotales</th>
                                <th class="text-center">@alu.CantidadRespuestasCorrectas</th>
                                <th class="text-center">@alu.CantidadMejorRespuesta</th>
                            </tr>
                            i++;
                        }
                    }

                </tbody>
            </table>
        }
    </div>
    <div class="col-md-6">
        <div class="row">
            <h3 class="col-md-12">Preguntas ultima clase(@ViewBag.clase.Nombre)</h3>
            @foreach (Pregunta p in ViewBag.preguntas)
            {
            <div class="col-md-6">
                <h5 class="h-auto mb-3">@p.Nro . @p.Pregunta1</h5>
                @{
                    int j = 1;
                    List<RespuestaAlumno> respuestas = RespuestaAlumnoDao.mostrarRespuestasUltimaClase(p.IdPregunta);
                }
                <div class="row">
                @foreach (RespuestaAlumno r in respuestas)
                {
                   
                    if (r.MejorRespuesta == true)
                    {
                        <p class="mb-1 mt-1 col-md-12">@j . @r.Alumno.Nombre  @r.Alumno.Apellido   +@r.Puntos <span class="icon-star-full text-success col-1"></span></p>
                        j++;
                    }
                    else
                    {
                        <p class="mb-1 mt-1 col-md-12">@j . @r.Alumno.Nombre  @r.Alumno.Apellido   +@r.Puntos</p>
                        j++;
                    }
                }
                </div>  
            </div>
            }
        </div>
    </div>
</div>
<div>
    <h4 class="mt-4">Preguntas Sin Responder</h4>
    @foreach (Pregunta pre in ViewBag.SinResponder)
    {
        <h5><a href="@Url.Action("Responder","Alumno",new { id= pre.IdPregunta })">@pre.Nro. @pre.Pregunta1</a></h5>
    }
</div>