﻿@using tpweb3.Dao
@model tpweb3.RespuestaAlumno
@{
    Layout = "~/Views/Shared/MenuAlumno.cshtml";
}

    <div class="container">
        @using (Html.BeginForm("CrearRespuesta", "Alumno", FormMethod.Post))
        {

            <h5>@Model.Pregunta.Clase.Nombre - @Model.Pregunta.Tema.Nombre</h5>
            <h2>@Model.Pregunta.Nro. @Model.Pregunta.Pregunta1</h2>
            <h6>Se puede responder hasta: @Model.Pregunta.FechaDisponibleHasta</h6>


            <textarea class="col-md-12" name="Respuesta" placeholder="Respuesta" style="width:80%; height:10em" required></textarea><br />
            <input type="submit" value="Enviar" class="btn btn-danger col-md-3" />
            <a class="btn btn-danger col-md-3" href="@Url.Action("Preguntas","Alumno")">Volver</a>
        }
    </div>
    @section scripts{
<script src="https://cdn.tiny.cloud/1/s4lunsgcsir9j3wrxue6yoyogi0nvbwqtiasj22c1ky3s2s1/tinymce/5/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        statusbar: false,
        setup: function (editor) {
            editor.on('change', function () {
                editor.save();
            });
        }
    })</script>
<script>
    $("#formularioPregunta").validate({
        lang: 'es'
    });
</script>

    }
