﻿@using tpweb3.Dao
@model tpweb3.RespuestaAlumno
@{
    Layout = "~/Views/Shared/MenuAlumno.cshtml";
}

<div class="container">
    @using (Html.BeginForm("#", "Alumno", FormMethod.Post))
    {

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h5>@Model.Pregunta.Clase.Nombre - @Model.Pregunta.Tema.Nombre</h5>
                </div>
                <div class="col-md-6">
                    <h3>@Model.Pregunta.Nro. @Model.Pregunta.Pregunta1</h3>
                </div>
                <div class="col-md-6">
                    @if (Model.ResultadoEvaluacion != null)
                    {
                        if (Model.MejorRespuesta == true)
                        {
                            <h3 class="@Model.ResultadoEvaluacion.Resultado">@Model.ResultadoEvaluacion.Resultado | @Model.Orden º | @Model.Puntos pts | ¡Mejor Respuesta!</h3>
                        }
                        else
                        {
                            <h3 class="@Model.ResultadoEvaluacion.Resultado">@Model.ResultadoEvaluacion.Resultado | @Model.Orden º | @Model.Puntos pts </h3>
                        }
                    }
                </div>
            </div>
        </div>
        <span name="Respuesta" class="col-md-12" >
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Respuesta))


        </span><br />

        <a class="btn btn-danger col-md-3" href="@Url.Action("Preguntas","Alumno")">Volver</a>
    }
</div>
@section scripts{
    <script src="https://cdn.tiny.cloud/1/s4lunsgcsir9j3wrxue6yoyogi0nvbwqtiasj22c1ky3s2s1/tinymce/5/tinymce.min.js"></script>

<!--<script>
    tinymce.init({
        selector: 'textarea',
        plugins: "noneditable",
        noneditable_editable_class: "mceNonEditable"
    });
        </script>
    -->
}